<div class="flex-container">
  <div class="fav-header" *ngIf="(list | async) as list">
    <h1 class="mat-h1">{{ list.title }}</h1>
  </div>
  <div fxLayout="row [wrap]" fxLayoutGap="16px grid">  
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let recipe of (recipes | async)">
      <mat-card class="card">
          <a routerLink="/recipe/{{ recipe.id }}">
            <mat-card-header>
              <mat-card-title title="{{ recipe.title }}">
                {{ recipe.title }}
              </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{ recipe.image }}">
          </a>
          <mat-card-actions>
            <button (click)="deleteOneRecipe(recipe.id)" color="warn" class="card-button" mat-mini-fab aria-label="delete recipe from list">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
    </div>
  </div>
</div>