<div fxLayout="column">
  <h1>My Lists</h1>
  <div *ngFor="let item of list">
    <mat-card class="recipe-list" >
      <a routerLink="/my-lists/{{ item.id }}">
        <span>{{ item.title }}</span>
      </a>
      <div class="card-right">
        <button (click)="deleteId(item.id)" mat-mini-fab color="warn" aria-label="Delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
    <div class="card-under">
      <div class="dates">
        <span>Created: {{ item.created_at | date: 'short' }}</span>
        <span>Updated: {{ item.updated_at | date: 'short' }}</span>
      </div>
    </div>
  </div>
</div>